absl-py==2.0.0
aiohttp==3.8.5
aiosignal==1.3.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.1.0
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
contourpy==1.1.1
cycler==0.12.0
filelock==3.12.4
flatbuffers==23.5.26
fonttools==4.43.0
frozenlist==1.4.0
fsspec==2023.9.2
gast==0.5.4
google-auth==2.23.2
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.59.0
h5py==3.9.0
huggingface-hub==0.17.3
idna==3.4
joblib==1.3.2
keras==2.14.0
kiwisolver==1.4.5
libclang==16.0.6
Markdown==3.4.4
MarkupSafe==2.1.3
matplotlib==3.8.0
ml-dtypes==0.2.0
multidict==6.0.4
nltk==3.8.1
numpy==1.26.0
oauthlib==3.2.2
openai==0.28.1
opt-einsum==3.3.0
packaging==23.2
pandas==2.1.1
Pillow==10.0.1
protobuf==4.24.3
PyArabic==0.6.15
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
regex==2023.8.8
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
safetensors==0.3.3
scikit-learn==1.3.1
scipy==1.11.3
seaborn==0.13.0
six==1.16.0
tensorboard==2.14.1
tensorboard-data-server==0.7.1
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-intel==2.14.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
threadpoolctl==3.2.0
tokenizers==0.13.3
tqdm==4.66.1
transformers==4.33.3
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.5
Werkzeug==3.0.0
wrapt==1.14.1
yarl==1.9.2

(SarcasmEnvironment) C:\Users\Perseus\Documents\GitHub\ArabicSarcasmDetection\SarcasmEnvironment\Scripts>deactivate
C:\Users\Perseus\Documents\GitHub\ArabicSarcasmDetection\SarcasmEnvironment\Scripts>pip u
ERROR: unknown command "u"

C:\Users\Perseus\Documents\GitHub\ArabicSarcasmDetection\SarcasmEnvironment\Scripts>activate

(SarcasmEnvironment) C:\Users\Perseus\Documents\GitHub\ArabicSarcasmDetection\SarcasmEnvironment\Scripts>pip install gensim
Collecting gensim
  Obtaining dependency information for gensim from https://files.pythonhosted.org/packages/ab/b0/d58dc405fd60ab546ca714321235dc2d455b2dc06bfb4fc1092940c749fc/gensim-4.3.2-cp310-cp310-win_amd64.whl.metadata
  Downloading gensim-4.3.2-cp310-cp310-win_amd64.whl.metadata (8.5 kB)
Requirement already satisfied: numpy>=1.18.5 in c:\users\perseus\documents\github\arabicsarcasmdetection\sarcasmenvironment\lib\site-packages (from gensim) (1.26.0)
Requirement already satisfied: scipy>=1.7.0 in c:\users\perseus\documents\github\arabicsarcasmdetection\sarcasmenvironment\lib\site-packages (from gensim) (1.11.3)
Collecting smart-open>=1.8.1 (from gensim)
  Obtaining dependency information for smart-open>=1.8.1 from https://files.pythonhosted.org/packages/fc/d9/d97f1db64b09278aba64e8c81b5d322d436132df5741c518f3823824fae0/smart_open-6.4.0-py3-none-any.whl.metadata
  Downloading smart_open-6.4.0-py3-none-any.whl.metadata (21 kB)
Downloading gensim-4.3.2-cp310-cp310-win_amd64.whl (24.0 MB)
   ---------------------------------------- 24.0/24.0 MB 3.4 MB/s eta 0:00:00
Downloading smart_open-6.4.0-py3-none-any.whl (57 kB)
   ---------------------------------------- 57.0/57.0 kB 3.1 MB/s eta 0:00:00
Installing collected packages: smart-open, gensim
Successfully installed gensim-4.3.2 smart-open-6.4.0

(SarcasmEnvironment) C:\Users\Perseus\Documents\GitHub\ArabicSarcasmDetection\SarcasmEnvironment\Scripts>pip3 freeze
absl-py==2.0.0
aiohttp==3.8.5
aiosignal==1.3.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.1.0
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
contourpy==1.1.1
cycler==0.12.0
filelock==3.12.4
flatbuffers==23.5.26
fonttools==4.43.0
frozenlist==1.4.0
fsspec==2023.9.2
gast==0.5.4
gensim==4.3.2
google-auth==2.23.2
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.59.0
h5py==3.9.0
huggingface-hub==0.17.3
idna==3.4
joblib==1.3.2
keras==2.14.0
kiwisolver==1.4.5
libclang==16.0.6
Markdown==3.4.4
MarkupSafe==2.1.3
matplotlib==3.8.0
ml-dtypes==0.2.0
multidict==6.0.4
nltk==3.8.1
numpy==1.26.0
oauthlib==3.2.2
openai==0.28.1
opt-einsum==3.3.0
packaging==23.2
pandas==2.1.1
Pillow==10.0.1
protobuf==4.24.3
PyArabic==0.6.15
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
regex==2023.8.8
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
safetensors==0.3.3
scikit-learn==1.3.1
scipy==1.11.3
seaborn==0.13.0
six==1.16.0
smart-open==6.4.0
tensorboard==2.14.1
tensorboard-data-server==0.7.1
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-intel==2.14.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
threadpoolctl==3.2.0
tokenizers==0.13.3
tqdm==4.66.1
transformers==4.33.3
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.5
Werkzeug==3.0.0
wrapt==1.14.1
yarl==1.9.2